<%= stylesheet_link_tag "form" %>

<div id="topleftbutton">
<%= link_to '', profile_path(current_user.profile.id), id: "back" %>
<%= link_to "Back", profile_path(current_user.profile.id), id: "backtext" %></div> 

<%= form_for @profile do |f| %>
  <div id="error_explanation">
    <% if @profile.errors.any? %>
      <%= pluralize(@profile.errors.count, "error") %> prohibited
        this profile from being edited:
        <ul>
          <% @profile.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>
  </div>
  <div id="container">
    <div id="country_name">
      <%= f.label "Edit Profile" %><br>
    </div>
    <%= f.text_field :name, id: "box"%>  
    <div id="upload">
    	<%= f.label "Profile Picture" %>
    	<%= f.file_field :photo %>
    </div>
    <div id="submit">
      <%= f.submit %>
    </div>
  </div>
<% end %>
