

<%= javascript_include_tag "index" %>
<%= stylesheet_link_tag "index", :media => "all" %>

<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>

<% unless current_user %>
    <div class="log">
      <%= link_to "", new_user_session_path, id: "stuff" %>
      <%= link_to "Login", new_user_session_path, :class => "log_text" %>
    </div>


  <%# link_to "Profile", new_profile_path(current_user) %>
<% else %>
  <div class="log">
    <%= link_to "", destroy_user_session_path, method: :delete, id: "stuff" %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "log_text" %></div>

<% end %>

<div id="background"></div>

      <div id="wrapper">
        <div id="new_country_box">
        <%= link_to '', new_country_path, id: "new_country" %> 
          <%= link_to 'New Country', new_country_path, id: "new_country_text" %>

          </div></div>

<div id="country_container">
  <div id="countries">Countries</div>
        </div>
      </div>

</div>

<div id="cont">
  <% @countries.each do |country| %>
      <div id="each">
      <div id="title">
        <%= link_to country.title, country_path(country), id: "title_text" %></div><br>
      <%= link_to " ", country_path(country), id: "pic_overlay" %>
      <div id="pic_container">
      <div id="pic_cropper">
      <div id="pic">
      <%= link_to( image_tag(country.photo.url(:medium)), country_path(country) ) %></div></div></div>
      <div id="ed">
      <% if current_user == country.user or current_user.try(:admin?) == true %>
        <div id="editer">

        <%= link_to(  image_tag('edit.png'), edit_country_path(country), id: "icon") %></div>
      
      <div id="line"> | </div> 
      <div id="deleter">
      <%= link_to image_tag('delete.png'), country_path(country), method: :delete, id: "icon" %></div>

      <% end %>
     </div>
      </div>
    </div>

  <% end %>






