<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag "new" %>
  <%= link_to countries_path do %>
  <div id="back">Back</div>
  <% end %>


<%= form_for :country, url: countries_path, :html => { :multipart => true } do |f| %>
 <div id="error_explanation">
  <% if @country.errors.any? %>
        <%= pluralize(@country.errors.count, "error") %> prohibited


        this country from being saved:
      <ul>
        <% @country.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>

  <% end %>
    </div>
<center>

<div id="background">
</div>

  <div id="container">
    <div id="country_name">
    <%= f.label "New country" %><br></div>
    <%= f.text_field :title, id: "box"%>

 

 <p>
  <div id="upload">
   <%= f.file_field :photo %></div>
</p>
  <p>
    <div id="submit">
    <%= f.submit %></div>
  </p>


</center>
</div>
<% end %>
