<!DOCTYPE html>
<html>
<head>
  <title>Travel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="navbar"></div>
<% unless current_user %>
    <div class="log">
      <%= link_to "", new_user_session_path, id: "stuff" %>
      <%= link_to "Login", new_user_session_path, :class => "log_text" %>
    </div>
<% else %>
  <div class="log">
    <%= link_to "", destroy_user_session_path, method: :delete, id: "stuff" %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "log_text" %></div>
  <% if not @edit_profile %>
    <div class="profile">
      <% if current_user.profile and not @on_profile %>
        <%= link_to "", profile_path(current_user.profile.id), method: :get, id: "stuff" %>
        <%= link_to "Profile", profile_path(current_user.profile.id), method: :get, :class => "profile_text" %>
      <% elsif current_user.profile and @on_profile%>
        <%= link_to "", edit_profile_path(current_user.profile.id), method: :get, id: "stuff" %>
        <%= link_to "Edit Profile", edit_profile_path(current_user.profile.id), method: :get, :class => "profile_text" %>
      <% else %>
        <%= link_to "", new_profile_path, method: :get, id: "stuff" %>
        <%= link_to "Profile", new_profile_path, method: :get, :class => "profile_text" %>
      <% end %>
    </div>
  <% end %>
<% end %>
<div id="big_container">
  <%= yield %>
</div>



</body>
</html>
